header {

	margin:auto;
	background-image: url(https://assets.jpegmini.com/user/images/testiomonials_mantas.jpg);
    background-position: center;
    background-size:cover;
	


}

body {background-color: #ffecb8;}


h1   {color: #f0b0dd;}


p    {color: #3f6b61;}
