header {

	margin:auto;
	<div style="background-color:#f7c297;color:white;padding:20px;">
    background-position: center;
    background-size:cover;
	


}

body {background-color: #ffecb8;}


h1   {color: #f0b0dd;}


p    {color: #3f6b61;}
