header {
}

body {
  margin:0;
  padding:0;
    background-color:#ab93c9;
}
img {
display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding-top: 0px;
  
}
.nav{
   background-color:#eda1ab;
    color:#3f6b61;
     list-style:none;
      text-align: right;
       padding: 20px 0 20px 0;
}

.nav > li {
   display:inline-block;
    padding-right: 50px;
}

.nav > li > a{
  text-decoration: none;
   color:#3f6b61
}

.nav > li > a:hover{
   color:#ab93c9
}

.logo{
  color:#FFDCE2;
   float:left;
    padding-left:25px;
     font-size:20px;
      font-weight:bold;
       font-family:Monospace;
}

.container1{
  width:500px;
   height:600px;
    margin-left:6%;
     float:left;
      background-color:#ffbea3;
       position:relative;
}    
.container2{
  width:500px;
   height:600px;
    margin-right:6%;
      float:right;
  background-color:#ffbea3;
      position:relative;
}
  .flex{
  display:flex;
   justify-content:center;
    align-items:flex-start;
}
.about {
   margin : 50px 70px;
    margin-top : 20px;
     padding : 10% 20%;
      font-family : Montserrat;
        box-shadow : -1px -1px 44px 0 #F18439;
         background-color:#ffbea3;
}


h1{
  color: #f0b0dd;
   text-align:center;
    font-familiy:Monospace;
     text-shadow: 4px 0px 1.5px #b45ac5
}

p{
  color: #3f6b61;
   text-align:center;
    font-familiy:fantasy;
}


