header {
}

body {
  margin:0;
  padding:0;
    background-color: #ffecb8;
}

.nav{
   background-color:#ff707e;
    color:#3f6b61;
     list-style:none;
      text-align: right;
       padding: 20px 0 20px 0;
}

.nav > li {
   display:inline-block;
    padding-right: 50px;
}

.nav > li > a{
  text-decoration: none;
   color:#3f6b61
}

.nav > li > a:hover{
   color:#E5ACB6
}

.logo{
  color:#f0b0dd;
   float:left;
    padding-left:25px;
     font-size:20px;
      font-weight:bold;
       font-family:Monospace;
  
  
  
}
h1{
  color: #f0b0dd;
   text-align:center;
}

p{
  color: #3f6b61;
   text-align:center;
}
